$t_black: #222233;
$t_white: #f4f8ff;
$b_body: #223355;
$b_main: #fdfdff;
$b_side: #6699ee;
$b_side_h: #4477cc;
$b_header: #3366bb;

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  // border: 1px solid black;
}

img {
  display: block;
}

:root {
  font: 18px "Verdana", sans-serif;
}

body {
  background-color: $b_body;

  max-width: 1200px;
  margin: 2rem auto;
}

.header {
  color: $t_white;
  background-color: $b_header;

  padding: 1em 2em;
  margin: auto;

  a {
    color: inherit;
  }
}

.left {
  color: $t_white;
  background-color: $b_side;

  width: 200px;
  min-height: 400px;
  float: left;
  display: block;

  &__nav {
    margin: 1rem 0;

    display: flex;
    flex-direction: column;

    p, a {
      color: inherit;

      padding: 0.5rem 1rem;
      margin: 0 1rem;
      border-radius: 0.5rem;

      text-align: center;
    }

    p, a:hover {
      background-color: $b_side_h;
    }

    p {
      margin-bottom: 1rem;
    }
  }
}

.main {
  color: $t_black;
  background-color: $b_main;

  max-width: 1000px;
  min-height: 400px;

  padding: 1em 4em 4em 4em;
  margin-left: 200px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;

  p {
    margin-left: 1em;
  }

  &__game {
    margin-left: 2em;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25em;

    #fs-btn {
      color: $t_white;
      background-color: $b_side;

      padding: 0.5em 1.5em;
      border: 2px solid $b_header;
      border-radius: 0.25em;
    }
  }

  #dl-btn {
    cursor: pointer;
  }
}

.footer {
  color: $t_white;
  background-color: $b_header;

  padding: 1em 2em 4em 2em;
  margin: auto;

  a {
    color: inherit;
  }
}

